/* Estilos generales */
* {
    font-family: "Irish Grover", system-ui, sans-serif;
    font-weight: 400;
    font-style: normal;
    scrollbar-width: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFAF0; 
    background-color: #b91919;
    
}

/* Barra de navegación */
.navbar {
    background-color: #386624; 
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    color: white;
    width: 80px;
    text-decoration: none;
    font-weight: bold;
    padding-left: 20px;
}

/* Estilos de los enlaces dentro de la barra */
.navbar-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin: 0 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #000000;
}

.navbar-links .icon {
    width: 40px;
    margin-right: 10px;
}

.auth-buttons {
    padding-right: 20px;
}

.auth-btn {
    color: white;
    background-color: #006400;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    height: auto;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
}

.auth-btn:hover {
    background-color: #004d00; 
    transform: translateY(-2px); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4); 
}

/* Estilos de la sección principal */
.home {
    text-align: right; 
    background-color: #FF4500;
    background-image: url("images/background.jpeg");
    background-size: cover;
    color: white;
    padding: 50px;
    height: 90vh;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-end; 
    padding-left: 10%;
}

.home-content {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}


h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}


p {
    font-size: 1.5rem;
    color: #ffffff;
    line-height: 1.8;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


button {
    background-color: #006400;
    color: white;
    border: none;
    padding: 20px 40px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

button:hover {
    background-color: #004d00;
    transform: scale(1.05);
}


/* Popups y modales */
.popup, .profile-popup {
    display: none;
    position: fixed;
    z-index: 90; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    justify-content: center;
    align-items: center;
}

.popup-content, .profile-popup-content {
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px;
    width: 300px; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.modal-content p {
    color: #000;
}

.popup-content, .profile-popup-content, .modal-content {
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px;
    width: 90%; 
    max-width: 400px; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; 
}

input {
    width: calc(100% - 20px);
    max-width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    margin-bottom: 10px;
}

small {
    display: block; 
    font-size: 0.8rem;
    color: #666;
    margin-top: -5px; 
}

.popup h2, .profile-popup h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

.button-container, #modal-buttons {
    display: flex;
    justify-content: space-between;
}

.popup button, .profile-popup button, .modal button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 45%;
    transition: background-color 0.3s, transform 0.2s;
}

.popup button, .profile-popup button {
    background-color: #195c25; 
    color: white;
}

.popup button:hover, .profile-popup button:hover {
    background-color: #113d19; 
    transform: scale(1.05);
}

#login-cancel, #cancel-profile {
    background-color: #f44336; 
}

#login-cancel:hover, #cancel-profile:hover {
    background-color: #d32f2f;
}

#save-profile {
    background-color: #0e5211; 
}

#save-profile:hover {
    background-color: #0a3b0c;
}

#modal-cancel {
    background-color: #f44336;
}

#modal-cancel:hover {
    background-color: #d32f2f; 
}

#modal-confirm {
    background-color: #0e5211; 
}

#modal-confirm:hover {
    background-color: #0a3b0c;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #333;
    cursor: pointer;
}

.close:hover {
    color: #f44336; 
}

.profile-popup small {
    font-size: 0.8rem;
    color: #666;
    padding-bottom: 10px;
}

.profile-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-link {
    display: flex;
    flex-direction: column;  
    align-items: center;     
    text-decoration: none;   
    color: inherit;          
    font-weight: bold;       
}

.profile-img-container {
    width: 50px;             
    height: 50px;
    border-radius: 50%;      
    overflow: hidden;        
}

.profile-img {
    width: 100%;             
    height: 100%;
    object-fit: cover;       
}

.profile-text {
    margin-top: 5px;         
    font-size: 16px;         
}

/* ESTILOS PROFILE.HTML*/
.container-prof {
    background-color: #f0f0f0;
    border-radius: 15px;
    width: 80%;
    margin: 150px auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
}

.container-prof h1 {
    color: #000;
}

.button-container-prof {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 15px; 
    margin-bottom: 80px;
    justify-items: center; 
}

.profile-box img {
    margin: 20px 0;
    max-width: 120px;
    height: auto;
}

/* Mapa */
.mapa-container {
    position: relative;
    text-align: center;
    margin-top: 120px;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 1200px;
    margin: 10vh auto; 
}

.mapa-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa-img {
    max-width: 100%;
    height: auto;
}

.mapa-texto {
    margin-top: 20px; 
    color: #ffffff;
    text-align: center; 
    font-size: 1.8em; 
    line-height: 1.2; 
}

.mapa-texto h1 {
    margin-top: 100px; 
    font-size: 36px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
}

.point {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    display: none;
}

.point:hover .tooltip {
    display: block;
}

/* Formato para decoraciones */
.decoracion {
    position: absolute;
}

.guirnalda {
    top: 25%;
    right: 2%;
    width: 130px;
}

.trineo {
    top: 24%;
    left: 2%;
    width: 130px;
}

.papa-noel-renos {
    bottom: 15%;
    left: 2%;
    width: 130px;
}

.snowman {
    bottom: 15%;
    right: 2%;
    width: 130px;
}

/* Historia */
.historia-container {
    padding: 50px;
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    max-width: 900px;  
    margin: 10vh auto;    
}

.historia-container p {
    max-width: 800px;  
    margin: 20px auto; 
    font-size: 1.2em;
    text-align: center; 
    line-height: 1.6;
}

.videos {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.video h3 {
    font-size: 1.1em;
    margin-bottom: 5px;
}


.decoracion-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.left-decoracion,
.right-decoracion {
    position: absolute;
    top: 15%;
    display: flex;
    flex-direction: column; 
    gap: 120px; 
    height: auto; 
}
.left-decoracion {
    left: -70px;
}
.right-decoracion {
    right: -70px; 
}
.decoracion-row {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 50px;
}
.bola-navidad {
    width: 140px; 
    height: 140px;
}

.historia-texto h1 {
    margin-top: 75px;
    font-size: 36px;
}

/* Historia: pagina especifica para videos */
.video-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0; 
}

/* Video específico */
.video-content video {
    width: 90%; 
    max-width: 900px;

}
.candy-cane {
    width: 140px; 
    height: auto;
}
.decoracion-candy {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Centra los bastones verticalmente */
    display: flex;
    flex-direction: column;
    gap: 40px; /* Aumenta la separación entre bastones */
    z-index: 1;
}

.decoracion-candy.left {
    left: -100px; 
}

.decoracion-candy.right {
    right: -100px; 
}


/* Carta */
.carta-container {
    width: 90%;
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    position: relative; 
}

.titulo-carta {
    display: flex;           
    justify-content: center; 
    align-items: center;     
    gap: 20px;               
}

.titulo-carta h1 {
    font-size: 36px;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 40px;
    text-align: center;  
}

.titulo-img-carta {
    width: 50px;  
    height: 50px;
    object-fit: cover;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: start;
}

.contact-form label {
    font-size: 1.8rem;
    color: #fff;
    text-transform: capitalize;
    text-align: left;
    font-weight: normal;
}

.contact-form input[type="text"] {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1.2rem;
    color: #000;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
}

.contact-form textarea {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1.2rem;
    color: #000;
    width: 96%;
    height: 150px;
    resize: none;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    grid-column: span 2;
    justify-self: center;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #888;
}


.left-decor-carta {
    position: absolute;    
    top: 70%;               
    transform: translateY(-50%); 
    z-index: -1;   
    left: -180px;           
}

.right-decor-carta {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}

.decoracion-row-carta{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 50px;
}

.arbol-santa,
.snowflake {
    width: 90px;          
    height: auto;
}

/* CALENDARIO */
.calendario-container {
    display: none; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    background-color: #b91919;
    border-radius: 15px;
    width: 90%;
    margin: 150px auto;
    padding: 20px;
    color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    font-family: 'Irish Grover', cursive;
}

.calendario-text {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center; 
}

.calendario-container h1 {
    max-width: 30%; 
    font-size: 3.5rem;
    margin-bottom: 5px;
    margin-left: 250px;
    
}

.calendario-container p {
    max-width: 50%; 
    font-size: 2rem;
    line-height: 1.8;
    margin-bottom: 0;
    margin-left: 200px;
}

.calendario-wrapper {
    position: relative; 
    display: inline-block; 
}

.calendario-img {
    display: block;
    width: 100%; 
    height: auto;
}

.calendario-dias {
    position: absolute;
    margin-top: 95px;
    margin-left: 8px;
    top: 0;
    left: 0;
    width: 97%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto; 
}

.calendario-dias table {
    margin: 0 auto; 
    position: relative; 
    width: 90%; 
    border-collapse: collapse; 
}

.calendario-dias th {
    font-size: 1.2rem; 
    color: #000; /

}

.calendario-dias td {
    pointer-events: auto;
    color: transparent; 
    width: 10px;
    height: 65px; 
    text-align: center; 
    font-size: 1.2rem; 
    border: 1px solid #ddd;
}


table {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: #000; 
    font-weight: bold;
}

td, th {
    height: 50px; 
    vertical-align: middle;
}

.current-day {
    background-color: rgba(40, 167, 69, 0.5);
    color: #fff; 
    cursor: pointer;
}

.cancion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #b91919;
    color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin: 150px auto;
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.cancion-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.back-button {
    background-color: #fff;
    color: #b91919;
    font-size: 1.5rem;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancion-title {
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    width: 60%;
}

.cancion-date {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: 20px 0;
}

.date-box {
    background-color: #ff5555;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
}

.cancion-player {
    border-radius: 10px;
    margin: 20px 0;
}

.cancion-decoraciones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.decoracion-item {
    width: 100px;
    height: auto;
    margin: 0 10px;
}

.audio-widget {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#play-button {
    background-color: #ff5555;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem; 
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0; 
}


#progress-bar {
    width: 70%;
    cursor: pointer;
}

#time-display {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ff5555;
}

/* POSTALES */

.back-button1 {
    background-color: #fff;
    color: #b91919;
    font-size: 1.5rem;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 550px;
    top: 275px;
}

.back-button2 {
    background-color: #fff;
    color: #b91919;
    font-size: 1.5rem;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 550px;
    top: 200px;
}
.postal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b91919;
    color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin: 150px auto;
    width: 90%;
    max-width: 1200px;
    text-align: center;
}


.postal-header .decoracion-item {
    width: 100px;
    height: auto;
}

.postal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
    margin-bottom: 60px;
}

.postal-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postal-title {
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px; 
}

.postal-subtitle {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0; 
}

.postal-start {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 80px; 
}

.postal {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#init-button {
    background-color: #006400;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#init-button:hover {
    background-color: #004d00;
    transform: scale(1.05);
}

.postal-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b91919;
    color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    width: 90%;
    max-width: 1200px;
    text-align: center;
}

.postal-step-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.postal-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px; 
    width: 100%;
    max-width: 800px;
    margin-bottom: 50px; 
}

.postal-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postal-img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.postal-btn {
    background-color: #006400;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.postal-btn:hover {
    background-color: #004d00;
    transform: scale(1.05);
}

.postal-continue {
    position: absolute;
    bottom: 250px; 
    margin-left: 1000px; 
}

#continue-button, #continue-button1, #continue-button2{
    background-color: #006400;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    
}

#continue-button2:hover,
#continue-button1:hover,
#continue-button:hover {
    background-color: #004d00;
    transform: scale(1.05);
}

.decorative-ball {
    position: absolute;
    width: 100px; 
    height: auto;
}

.top-left {
    top: 15%;
    left: 400px;
}

.mid-left {
    top: 40%;
    left: 400px;
    transform: translateY(-50%);
}

.midmid-left {
    top: 57%;
    left: 400px;
    transform: translateY(-50%);
}

.bottom-left {
    bottom: 20%;
    left: 400px;
}

.top-right {
    top: 15%;
    right: 400px;
}

.mid-right {
    top: 37%;
    right: 400px;
    transform: translateY(-50%);
}

.bottom-right {
    bottom: 40%;
    right: 400px;
}

.postal-pnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b91919;
    color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin: 150px auto;
    width: 90%;
    max-width: 1200px;
    text-align: center;
}

.postal-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.postal-pnt-title {
    font-size: 2.0rem;
    margin-bottom: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.dibujo {
    width: 600px;
    height:400px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.img-btn {
    background-color: #006400;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.img-btn:hover {
    background-color: #004d00;
    transform: scale(1.05);
}

.postal-fin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b91919;
    color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin: 150px auto;
    width: 90%;
    max-width: 1200px;
    text-align: center;
}

.postal-fin-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.postales-fin {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-bottom: 160px;
    width: 100%;
    max-width: 800px;
}

.postales-fin img {
    width: 330px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.postal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b91919;
    color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin: 150px auto;
    width: 90%;
    max-width: 1200px;
    text-align: center;
}

.postal-info-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.postal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    width: 100%;
    max-width: 600px;
    margin: 60px;
    margin-bottom: 150px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-group label {
    width: 200px;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.form-group input {
    width: 500px;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.postal-env {
    align-self: center;
    background-color: #006400;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.postal-env:hover {
    background-color: #004d00;
    transform: scale(1.05);
}

/* MINIJUEGOS - Boton*/
.minijuegos-container {
    text-align: center;
    margin-top: 100px;
    padding: 40px 20px;
    background-color: #b91919; 
    border-radius: 10px;
    color: white;
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 10vh auto;
}
.oculto {
    display: none;
}
.minijuegos-container h1 {
    font-size: 4rem; 
    margin-bottom: 5px;
    margin-top: 0; 
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

.decoraciones-juego {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;
    right: 20px;
    top: 100px;
}

.decoracion-gift {
    width: 80px;
    height: auto;
    transition: transform 0.3s;
}

.decoracion-gift:hover {
    transform: scale(1.1);
}

.santa-icon {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
}
.minijuegos-container p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.minijuegos-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px;
    gap: 20px; 
}

.juegos-lista {
    display: flex;
    gap: 20px;
    justify-content: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none; 
    width: 100%;
    max-width: 800px;
}


.juego {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 180px;
    padding: 10px;
    color: #000;
    flex-shrink: 0;
    transition: transform 0.3s;
}

.juego:hover {
    transform: scale(1.1);
}
.juego img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.juego h2 {
    font-size: 1.2rem;
    margin-top: 10px;
}
.separador {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.separador-juego {
    width: 600px; 
    height: 60px;
}

.mistletoe2 {
    top: 1%;
    right: 2%;
    width: 220px;
}

.mistletoe1{
    top: 1%;
    left: 2%;
    width: 220px;
}

.santaball {
    bottom: 1%;
    left: 2%;
    width: 170px;
}

.santagift {
    bottom: 1%;
    right: 2%;
    width: 170px;
}

/* Juego 2:*/
.juego-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.juego-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 2rem;
}

.juego-titulo h2 {
    line-height: 1.2;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    word-wrap: break-word; 
    margin-top: -20px;
}

.juego-imagen {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.juego2-img {
    max-width: 100%;
    height: auto;
}
/********** Juego 3:**********/

#game-board {
    display: grid;
    grid-template-columns: repeat(6, 50px); 
    gap: 5px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.jewel {
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 5px;
    cursor: pointer;
}

#score-board {
    text-align: center;
    color: #ffffff;
    margin-bottom: 300px;
    margin-right: 100px;
}

#score-board p {
    font-size: 2.5rem;
}
/* Boton de volver */
.juego-container button, .video-container button{
    margin-left: 20px; 
    margin-top: 10px;  
}
.decoracion-juego {
    display: flex;
    flex-direction: column;
    gap: 40px; 
    padding-right: 10px; 
    position: relative;
    top: -10px; 
}

.decoracion-gift {
    width: 130px;
    height: auto;
    
}

.santa-icon{
    width:170px;
    height: 170px;
}
